@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	ul,
	ol {
		list-style: revert;
		margin-left: 5px;
	}
	li {
		margin-left: 25px;
	}
}

.svelte-flow__attribution {
	display: none;
}

.svelte-flow__node {
	word-break: break-all;
}

.svelte-flow__nodes {
	font-size: 10px;
}
body {
	font-family: "Zilla Slab", serif;
}