@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap') */

@layer base {
	ul,
	ol {
		list-style: revert;
		margin-left: 5px;
	}
	li {
		margin-left: 25px;
	}
}

.svelte-flow__attribution {
	display: none;
}

.svelte-flow__node {
	word-break: break-all;
}

.svelte-flow__nodes {
	font-size: 10px;
}
